h1 {
    color: rgb(39, 7, 202);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

p {
    color: rgb(39, 17, 1);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}